<!DOCTYPE html>
<html lang="cs" id="facebook" class="no_js">
    

    

<head><meta charset="utf-8" />
<meta name="application-name" content="Facebook" />
<meta name="msapplication-tooltip" content="Nav&#x161;t&#x11b;vujte Facebook pro udr&#x17e;en&#xed; kontaktu s p&#x159;&#xe1;teli" />
<meta name="msapplication-starturl" content="/" /><meta name="msapplication-window" content="width=1230;height=700" />
<meta name="msapplication-task" content="name=Zpr&#xe1;vy;action-uri=/?sk=nf;icon-uri=/images/icons/app/news.ico" />
<meta name="msapplication-task" content="name=Zpr&#xe1;vy;action-uri=/?sk=inbox;icon-uri=/images/icons/app/messages.ico" />
<meta name="msapplication-task" content="name=Ud&#xe1;losti;action-uri=/?sk=events;icon-uri=/images/icons/app/events.ico" />
<meta name="msapplication-task" content="name=P&#x159;&#xe1;tel&#xe9;;action-uri=/?sk=fr;icon-uri=/images/icons/app/friends.ico" />
<meta name="msapplication-TileImage" content="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yk/r/t984IX-X1qt.png" />
<meta name="msapplication-TileColor" content="#3b5998" /><meta name="robots" content="noodp, noydir" />
<meta name="referrer" content="default" id="meta_referrer" />
<meta name="description" content="Facebook je soc&#xed;&#xe1;ln&#xed; s&#xed;&#x165;, kter&#xe1; umo&#x17e;&#x148;uje komunikaci s p&#x159;&#xe1;teli, spolupracovn&#xed;ky, spolu&#x17e;&#xe1;ky a lidmi z okol&#xed;. Na Facebooku m&#x16f;&#x17e;ete kontaktovat p&#x159;&#xe1;tele, nahr&#xe1;vat neomezen&#xe9; mno&#x17e;stv&#xed; fotek, p&#x159;id&#xe1;vat odkazy a videa a budete m&#xed;t informace o sv&#xfd;ch zn&#xe1;m&#xfd;ch." />
<link rel="alternate" media="handheld" href="https://www.facebook.com/" />
<title id="pageTitle">Vítejte na Facebooku – zaregistrujte se, přihlaste se a zjistěte více</title>
<meta property="og:site_name" content="Facebook" />
<meta property="og:url" content="https://www.facebook.com/" />
<meta property="og:image" content="https://www.facebook.com/images/fb_icon_325x325.png" />
<meta property="og:locale" content="cs_CZ" />
<link rel="alternate" hreflang="ko" href="https://ko-kr.facebook.com/" />
<link rel="alternate" hreflang="es-es" href="https://es-es.facebook.com/" />
<link rel="alternate" hreflang="id" href="https://id-id.facebook.com/" />
<link rel="alternate" hreflang="vi" href="https://vi-vn.facebook.com/" />
<link rel="alternate" hreflang="es" href="https://es-la.facebook.com/" />
<link rel="alternate" hreflang="th" href="https://th-th.facebook.com/" />
<link rel="alternate" hreflang="fr" href="https://fr-fr.facebook.com/" />
<link rel="alternate" hreflang="it" href="https://it-it.facebook.com/" />
<link rel="alternate" hreflang="en" href="https://www.facebook.com/" />
<link rel="shortcut icon" href="https://fbstatic-a.akamaihd.net/rsrc.php/yP/r/Ivn-CVe5TGK.ico" />
    <link href="@Url.Content("~/Content/sh1.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/sh2.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)
    </head>

    <body>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

        </body>
</html>
